.skills {
  min-height: auto;
  padding-bottom: 7rem;
  background: var(--secBgColor);

  .skills-row {
    display: flex;
    flex-wrap: wrap;
    gap: 5rem;

    .skills-column {
      flex: 1 1 40rem;

      .title {
        font-size: 2.5rem;
        margin: 0 0 1.5rem;
      }

      .skills-box {
        .skills-content {
          position: relative;
          border: 0.2rem solid var(--mainColor);
          border-radius: 0.6rem;
          padding: 0.5rem 1.5rem;
          z-index: 1;
          overflow: hidden;
          .progress {
            padding: 1rem 0;

            h3 {
              font-size: 1.7rem;
              display: flex;
              justify-content: space-between;

              span {
                color: var(--mainColor);
              }
            }

            .bar {
              height: 2.5rem;
              border-radius: 0.6rem;
              border: 0.2rem solid var(--mainColor);
              padding: 0.5rem;
              margin: 1rem 0;

              span {
                display: block;
                height: 100%;
                border-radius: 0.3rem;
                background: var(--mainColor);
              }
            }
          }
        }

        .skills-content::before {
          content: '';
          position: absolute;
          top: 0;
          left: 0;
          width: 0;
          height: 100%;
          background: var(--bgColor);
          transition: 0.5s;
          z-index: -1;
        }

        .skills-content:hover::before {
          width: 100%;
        }
      }
    }

    .skills-column:nth-child(1) {
      .skills-content {
        .progress:nth-child(1) {
          .bar span {
            width: 70%;
          }
        }

        .progress:nth-child(2) {
          .bar span {
            width: 95%;
          }
        }
        .progress:nth-child(3) {
          .bar span {
            width: 90%;
          }
        }
        .progress:nth-child(4) {
          .bar span {
            width: 90%;
          }
        }

        .progress:nth-child(5) {
          .bar span {
            width: 75%;
          }
        }

        .progress:nth-child(6) {
          .bar span {
            width: 70%;
          }
        }
        .progress:nth-child(7) {
          .bar span {
            width: 70%;
          }
        }
        .progress:nth-child(8) {
          .bar span {
            width: 70%;
          }
        }
      }
    }

    .skills-column:nth-child(2) {
      .skills-content {
        .progress:nth-child(1) {
          .bar span {
            width: 85%;
          }
        }

        .progress:nth-child(2) {
          .bar span {
            width: 65%;
          }
        }
        .progress:nth-child(3) {
          .bar span {
            width: 63%;
          }
        }
        .progress:nth-child(4) {
          .bar span {
            width: 70%;
          }
        }

        .progress:nth-child(5) {
          .bar span {
            width: 82%;
          }
        }

        .progress:nth-child(6) {
          .bar span {
            width: 67%;
          }
        }
        .progress:nth-child(7) {
          .bar span {
            width: 70%;
          }
        }
        .progress:nth-child(8) {
          .bar span {
            width: 70%;
          }
        }
      }
    }
  }
}
